@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Outfit:wght@100..900&display=swap");

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Outfit", sans-serif;

  --color-primary: #0f172a;
  --color-primary-light: #1e293b;
  --color-secondary: #0ea5e9;
  --color-accent: #f59e0b;

  --color-surface: #ffffff;
  --color-background: #f8fafc;
  --color-text-main: #1e293b;
  --color-text-muted: #64748b;
}

@layer base {
  html {
    scroll-behavior: smooth;
    @apply antialiased bg-background text-text-main;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold text-primary;
  }

  body {
    @apply font-sans;
  }
}
