@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Outfit:wght@100..900&display=swap");

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Outfit", sans-serif;

  /* Premium Dark Theme Palette */
  --color-primary: #ffffff; /* Text is now white mostly */
  --color-primary-light: #e2e8f0;

  --color-secondary: #3b82f6; /* Bright blue for accents */
  --color-accent: #f59e0b;

  --color-surface: #0f172a; /* Slate 900 */
  --color-background: #020617; /* Slate 950 - Very dark */

  --color-text-main: #f1f5f9; /* Slate 100 */
  --color-text-muted: #94a3b8; /* Slate 400 */
}

@layer base {
  html {
    scroll-behavior: smooth;
    @apply antialiased bg-background text-text-main;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold text-white;
  }

  body {
    @apply font-sans bg-background text-text-main;
  }
}
