<section class="py-20 bg-gray-50">
    <div class="max-w-7xl mx-auto px-4">
        <div class="bg-white rounded-2xl shadow-xl p-10">
            <h2 class="text-3xl font-bold text-gray-900 mb-0 text-center">Bize Ulaşın</h2>
            <form action="" class="space-y-6">
                <div class="grid grid-cols-1 md:col-span-full gap-6">
                    <div>
                        <label class="block text-gray-600 font-bold mb-2 border-black">Adınız</label>
                        <input type="text" class="w-full  rounded-lg p-3 border-black">
                    </div>
                    <div>
                        <label class="block text-gray-600 font-bold mb-2 border-black">E-Posta</label>
                        <input type="email" class="w-full border-black rounded-lg p-3">
                    </div>
                    <div>
                        <label class="block text-gray-600 font-bold mb-2 border-black">Telefon</label>
                        <input type="tel" class="w-full border-black rounded-lg p-3">
                    </div>
                    <div>
                        <label class="block text-gray-600 font-bold mb-2 border-black">Konu</label>
                        <select name="subject" id="subject" class="w-full border-black rounded-lg p-3">
                            <option value="">Konu Seçin</option>
                            <option value="genel">Genel</option>
                            <option value="satin_alma">Satın Alma</option>
                            <option value="kiralama">Kiralama</option>
                        </select>
                    </div>
                    <div>
                        <label class="block text-gray-600 font-bold mb-2 border-black">Mesaj</label>
                        <textarea class="w-full border-black rounded-lg p-3 h-32"></textarea>
                    </div>
                    <div>
                        <label class="block text-gray-600 font-bold mb-2 border-black">Gönder</label>
                        <button type="submit" class="w-full bg-blue-600 text-white font-bold py-3 rounded-lg hover:bg-blue-700 transition duration-300">Mesaj Gönder</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>