<section class=" py-20 bg-gray-50">
    <div class="max-w-7xl max-auto px-4">
        <div class="text-center mb-12">
            <h2 class="text-3xl font-bold mb-6">Öne Çıkan İlanlar</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <div class="bg-blue-500 h-64">Kutu 1</div> 
                <div class="bg-blue-500 h-64">Kutu 2</div>
                <div class="bg-blue-500 h-64">Kutu 3</div>
            </div>
        </div>
    </div>
</section>