---
import '../styles/global.css';
import Navbar from '../components/navbar.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="tr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>